@import 'tailwindcss';

:root {
  --background: #a2d6e0;
  --foreground: #171717;
}

@layer utilities {
  .bg-paper {
    background: radial-gradient(
        circle at 1px 1px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 0
      ),
      linear-gradient(0deg, #a2d6e0, #a2d6e0);
    background-size: 20px 20px, 100% 100%;
  }

  .bg-fine {
    background: conic-gradient(from 90deg at 1px 1px, #0000 90deg, #00000020 0),
      linear-gradient(0deg, #a2d6e0, #a2d6e0);
    background-size: 2px 2px, 100% 100%;
  }

  .bg-coarse {
    background: radial-gradient(
        circle at 2px 2px,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 0
      ),
      linear-gradient(0deg, #a2d6e0, #a2d6e0);
    background-size: 4px 4px, 100% 100%;
  }

  .bg-natural {
    background-color: #a2d6e0;
    background-image: url('https://www.transparenttextures.com/patterns/tex2res5.png');
  }
  .bg-naturalLight {
    background-color: #bce9f2;
    background-image: url('https://www.transparenttextures.com/patterns/tex2res5.png');
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
